@font-face {
    font-family: "Gotham";
    src: url(fonts/gothampro_light.woff2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    --color-grey: #9497A5;
    font-family: "Gotham", sans-serif;
    line-height: 1.5rem;
    color: var(--color-grey);
}

a {
    color: inherit;
    text-decoration: none;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    overflow: auto;
}

.container {
    padding: 2.5rem;
}


/* Header ----------------------*/

header .container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 2.5rem;
}

.header-logo {
    width: 7.5rem;
    height: 7.5rem;
    background-image: url(img/Metrika_logo.svg);
    background-size: contain;
    flex-shrink: 0;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
}

.header-nav li {
    display: block;
    flex-shrink: 0;
}

.nav-block1,
.nav-block2 {
    display: flex;
    gap: 2.5rem;
    flex-shrink: 0;
}

.nav-block1-link,
.nav-block2-link {
    display: flex;
    align-items: center;
    height: 1.5rem;
    position: relative;

    transition: transform .5s cubic-bezier(0, 0, 0, 1);
}

.nav-block1-link.startPosition {
    transform: translateY(-2rem);
    opacity: 0;
}

.nav-block1-link.drop {
    padding-right: 1rem;
}

.nav-block1-link.drop::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 1rem;
    height: 100%;
    background-image: url(img/arrow_down-logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transition: transform .3s;
}

.nav-submenu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    flex-wrap: wrap;
    row-gap: 1rem;
    column-gap: 2.5rem;
    padding: 2rem 0;
}

.header-nav:not(.mobile) .nav-block1 > 
li:hover .drop + .nav-submenu {
    display: flex;
}

.header-nav:not(.mobile) .nav-block1 > 
li:hover .drop + .nav-submenu .nav-submenu-link {
    opacity: 0;
    animation-delay: calc( .1s * var(--i) );
    animation-name: jump-menu;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
    animation-fill-mode: forwards;
}

.nav-submenu-link {
    display: flex;
    align-items: center;
    width: 100%;
    height: 1.5rem;
    position: relative;
}

.header-burger {
    display: none;
    width: 1.5rem;
    height: 1.5rem;
    background-image: url(img/burger-icon.svg);
    background-size: contain;
    position: relative;
}

.header-burger::before {
    content: '';
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* Menu Mobile Mode (.header-nav.mobile) ---------------*/

.header-nav.mobile {
    display: none;
    background-color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    min-height: 100vh;

    flex-direction: column;
    padding: 2.5rem;
    padding-top: 6rem;
}

.header-nav.mobile.active {
    display: flex;
}

.header-nav.mobile .nav-block1 {
    flex-direction: column;
    align-items: stretch;
    gap: 0;
}

.header-nav.mobile .nav-block1-link {
    width: 100%;
    height: 2.5rem;
}

.header-nav.mobile .nav-block1-link.drop.active + .nav-submenu {
    display: flex;
}

.header-nav.mobile .nav-block1-link.drop::after {
    width: 1.5rem;
}

.header-nav.mobile .nav-block1-link.drop.active::after {
    transform: rotate(180deg);
}

.header-nav.mobile .nav-submenu {
    position: static;
    flex-direction: column;
    gap: 0;
    padding: 0;
    padding-left: 2rem;
}

.header-nav.mobile .nav-submenu.active {
    display: flex;
}

.header-nav.mobile .nav-submenu-link {
    height: 2.5rem;
}

.header-nav.mobile + .header-burger {
    display: block;
}

.header-nav.mobile + .header-burger.close {
    background-image: url(img/close-icon.svg);
}


/* Info --------------------*/

@keyframes jump-menu {
    from {
        transform: translateY(-2rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
